<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 formsec">
        <div class="row">
            <div class="login-section">
                <div class="login-box">
                    <div class="login-logo">
                        <img src="assets/img/logo-dark.png" class="img-responsive center-block">
                    </div>
                    
                    <form name="userForm"  novalidate> 
                        
                    <div class="login-section">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control inp-our" placeholder="User Name" ng-model="email" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Email is required.</p>
                        </div>
                        
                         <div class="form-group">
                                <label>Password</label>
                            <input type="password" name="password" placeholder="**********" class="form-control inp-our" ng-model="password" required>
                                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required.</p>
                        </div>
        
                        <div class="form-input">
                            <a>
                                <input type="submit" value="Login" ng-click="login(userForm.$valid)" class="inp-our-btn" >
                            </a>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END WRAPPER -->