
<style>
    .opensimp{
        display: block !important;
    }
</style>
<!-- WRAPPER -->

<div id="wrapper">
   <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a>
                <img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo">
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth">
                    <i class="lnr lnr-menu-circle"></i>
                </button>
            </div>

            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/user.png" class="img-circle" alt="Avatar">
                            <span>Samuel</span>
                            <i class="icon-submenu lnr lnr-chevron-down"></i>
                        </a>
                        <div id="profileDropdown">
                        <ul class="dropdown-menu" >
                            <!-- <li>
                                <a href="#">
                                    <i class="lnr lnr-user"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lnr lnr-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li> -->
                            <li>
                                <a ng-click="logout()">
                                    <i class="lnr lnr-exit"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li>
                        <a ng-click="goToManageUsers('manageUser')" ng-class="{'active': selectedTab == 'manageUser'}">
                            <i class="lnr lnr-home"></i>
                            <span>Manage User</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="goToManageRequest('manageImage')" ng-class="{'active': selectedTab == 'manageImage'}">
                            <i class="lnr lnr-home"></i>
                            <span>Manage Request</span>
                        </a>
                    </li>
                    <!--<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Manage Request</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="#" class="">Profile</a></li>
									<li><a href="#" class="">Login</a></li>
								</ul>
							</div>
						</li>-->
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
</div>
    <!-- END LEFT SIDEBAR -->
    <ui-view></ui-view>
    <!-- END LEFT SIDEBAR -->