<!-- WRAPPER -->
<div id="wrapper">
  
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="paneles-manage-request">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="manage-request-view-d">
                            <label class="manage-edit-label">Name</label>
                            {{user.userName}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="manage-request-view-d">
                            <label class="manage-edit-label">Email ID</label>
                           {{user.email}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="manage-request-view-d">
                            <label class="manage-edit-label">Phone No.</label>
                            {{user.phoneNumber}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="manage-request-view-d">
                            <label class="manage-edit-label">Stylist Name</label>
                            {{user.stylistName}}
                        </div>
                    </div>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="manage-request-view-d">
                            <label class="manage-edit-label">PDF Reports Download</label>
                            <img src="assets/img/pdf.png" class="img-responsive">
                        </div>
                    </div>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="color-picker">
                            <label class="manage-edit-label">Color Analysis</label>
                            <div class="color-feilds">
                                <div class="color-shdule">
                                    <p>Hair</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField1" value="00ff00" />
                                </div>
                                <div class="color-shdule">
                                    <p>Skin</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField3" value="0000ff" />
                                </div>
                                <div class="color-shdule">
                                    <p>Eyes</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField2" value="ff0000" />
                                </div>
                                <div class="color-shdule">
                                    <p>Lips</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField2" value="ff0000" />
                                </div>
                                <div class="color-shdule">
                                    <p>xyz</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField2" value="ff0000" />
                                </div>
                                <div class="color-shdule">
                                    <p>abc</p>
                                    <input type="color" maxlength="6" size="6" id="colorpickerField2" value="ff0000" />
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->

</div>
<!-- END WRAPPER -->